{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Заявления</h1>
    {% if tasks %}
        {% for elem in tasks %}
        <div class="block">
            <h3>{{ elem.title }}</h3>
            <p>{{ elem.task }}</p>
            <p>{{ elem.status }}</p>

        </div>
            <a href="{% url 'task-delete' elem.id %}" class="btn btn-warning">Удалить</a>
            <a href="{% url 'task-update' elem.id %}" class="btn btn-info">Редактировать</a> <br>  <br> <br>


        {% endfor %}
    {% else %}
        <p>У нас нет записей</p>
    {% endif %}
{% endblock %}